h1, h2 {
  font-family: Lato;
}
html,
body {
  height: 100%;
  margin: 0;
}

.bG_gradien {
  width: 100%;
  background: linear-gradient(45deg, #E74DFF 0%, #8068FE 40%, #47F2FF);
  display: flex;
  justify-content: center;
}

.mask {
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(78,95,142,1) 85%);
  box-shadow: 0px 32px 46px rgba(12,18,37,0.59);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.toolbox {
  /* background: rgba(78,95,142,1); */
  background: #47F2FF;
}

._panel {
  height: 417px;
  /* filter: blur(6px); */
  background:#47F2FF;
  box-shadow: 0px 0px 52px -18px #4e5f8e;
}
/* clip-path: ellipse(64% 39% at 35% 0%); */
.panel-btn {
  background: radial-gradient(circle at top left, #E74DFF, #8068FE, #47F2FF);
}

#header {
  /* background: radial-gradient(circle at top left, rgba(78,95,142,1), #8068FE, #47F2FF); */
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(78,95,142,1) 85%);

}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

/* #4E5F8E for icons */


/* 
 */
 .white {
  /* height: 100vh; */
}
.white:before {
  z-index: 1000;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60vh;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 20%);
  /* gloss */
}

.squares {
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: absolute;
  width: 100%;

}

.square {
  -webkit-animation: squares 9.5s linear infinite;
          animation: squares 9.5s linear infinite;
  align-self: flex-end;
  width: 1em;
  height: 1em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: #ebebeb;
}
.square:nth-child(2) {
  height: 1.5em;
  width: 3em;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-filter: blur(5px);
}
.square:nth-child(3) {
  height: 2em;
  width: 1em;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-filter: blur();
}
.square:nth-child(4) {
  height: 1em;
  width: 1.5em;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-filter: blur(3px);
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
.square:nth-child(5) {
  height: 1.25em;
  width: 2em;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-filter: blur(2px);
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}
.square:nth-child(6) {
  height: 2.5em;
  width: 2em;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-filter: blur(1px);
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.square:nth-child(7) {
  height: 5em;
  width: 2em;
  -webkit-filter: blur(2.5px);
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
.square:nth-child(8) {
  height: 1em;
  width: 3em;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-filter: blur(6px);
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}
.square:nth-child(9) {
  height: 1.5em;
  width: 2em;
  -webkit-filter: blur(0.5px);
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.square:nth-child(9) {
  height: 3em;
  width: 2.4em;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-filter: blur(0.5px);
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

@-webkit-keyframes squares {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@keyframes squares {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}
