h1, h2 {
  font-family: Lato;
}
html,
body {
  height: 100%;
  margin: 0;
}

.bG_gradien {
  width: 100%;
  background: linear-gradient(45deg, #E74DFF 0%, #8068FE 40%, #47F2FF);
  display: flex;
  justify-content: center;
}

.mask {
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(78,95,142,1) 85%);
  box-shadow: 0px 32px 46px rgba(12,18,37,0.59);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.toolbox {
  /* background: rgba(78,95,142,1); */
  background: #47F2FF;
}

._panel {
  height: 417px;
  /* filter: blur(6px); */
  background:#47F2FF;
  box-shadow: 0px 0px 52px -18px #4e5f8e;
}
/* clip-path: ellipse(64% 39% at 35% 0%); */
.panel-btn {
  background: radial-gradient(circle at top left, #E74DFF, #8068FE, #47F2FF);
}

#header {
  /* background: radial-gradient(circle at top left, rgba(78,95,142,1), #8068FE, #47F2FF); */
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(78,95,142,1) 85%);

}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

/* #4E5F8E for icons */